{{- $components := fromYaml (include "components" .) }}
{{- if $components.synchronizer.enabled }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.synchronizer.name }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.synchronizer.name "tier" .Values.global.namespaceTier) | nindent 4 }}
rules:
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources: ["rolebindings", "clusterrolebindings", "roles", "clusterroles"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods", "namespaces", "nodes", "configmaps", "persistentvolumes", "services"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments", "statefulsets", "daemonsets", "replicasets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["batch"]
    resources: ["jobs", "cronjobs"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["networkpolicies", "ingresses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["spdx.softwarecomposition.kubescape.io"]
    resources: ["applicationprofiles", "networkneighborhoods"]
    verbs: ["get", "watch", "list", "create", "update", "patch", "delete"]
  - apiGroups: ["spdx.softwarecomposition.kubescape.io"]
    resources: ["knownservers"]
    verbs: ["get", "watch", "list", "create", "update", "patch", "delete"]
  - apiGroups: ["cilium.io"]
    resources: ["ciliumnetworkpolicies"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["projectcalico.org"]
    resources: ["networkpolicies"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.istio.io"]
    resources: ["gateways", "virtualservices"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["security.istio.io"]
    resources: ["authorizationpolicies"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["gateway.networking.k8s.io"]
    resources: ["httproutes", "tcproutes","udproutes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["kubescape.io"]
    resources: ["servicesscanresults"]
    verbs: ["get", "watch", "list"]
  - apiGroups: ["kubescape.io"]
    resources: ["operatorcommands"]
    verbs: ["get", "watch", "list", "create", "update", "patch", "delete"]
{{- if eq .Values.capabilities.syncSBOM "enable" }}
  - apiGroups: ["spdx.softwarecomposition.kubescape.io"]
    resources: ["sbomsyfts", "sbomsyftfiltereds"]
    verbs: [ "get", "watch", "list"]
{{- end }}
{{- if eq .Values.capabilities.manageWorkloads "enable" }}
  - apiGroups: ["spdx.softwarecomposition.kubescape.io"]
    resources: ["seccompprofiles"]
    verbs: ["get", "watch", "list", "create", "update", "patch"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["networkpolicies"]
    verbs: ["create", "update", "patch"]
  - apiGroups: ["cilium.io"]
    resources: ["ciliumnetworkpolicies"]
    verbs: ["create", "update", "patch"]
  - apiGroups: ["projectcalico.org"]
    resources: ["networkpolicies"]
    verbs: ["create", "update", "patch"]
  - apiGroups: ["apps"]
    resources: ["deployments", "statefulsets", "daemonsets", "replicasets"]
    verbs: ["update", "patch"]
  - apiGroups: ["batch"]
    resources: ["jobs", "cronjobs"]
    verbs: ["update", "patch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["update", "patch"]
{{- end }}
{{- end }}
