{{- $components := fromYaml (include "components" .) }}
{{- $configurations := fromYaml (include "configurations" .) }}
{{- if $components.synchronizer.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.synchronizer.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.synchronizer.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/ignore: "true"
    kubescape.io/tier: "core"
data:
  config.json: |
    {
      "inCluster": {
        {{- if ne .Values.includeNamespaces "" }}
        "includeNamespaces": "{{ .Values.includeNamespaces }}",
        {{- else if ne .Values.excludeNamespaces "" }}
        "excludeNamespaces": "{{ .Values.excludeNamespaces }}",
        {{- end }}
        "resources": [
          {
            "group": "",
            "version": "v1",
            "resource": "services",
            "strategy": "patch"
          },
          {
            "group": "networking.k8s.io",
            "version": "v1",
            "resource": "ingresses",
            "strategy": "patch"
          },
          {
            "group": "gateway.networking.k8s.io",
            "version": "v1",
            "resource": "httproutes",
            "strategy": "patch"
          },
          {
            "group": "gateway.networking.k8s.io",
            "version": "v1",
            "resource": "tcproutes",
            "strategy": "patch"
          },
          {
            "group": "gateway.networking.k8s.io",
            "version": "v1",
            "resource": "udproutes",
            "strategy": "patch"
          },
          {
            "group": "rbac.authorization.k8s.io",
            "version": "v1",
            "resource": "rolebindings",
            "strategy": "patch"
          },
          {
            "group": "rbac.authorization.k8s.io",
            "version": "v1",
            "resource": "clusterrolebindings",
            "strategy": "patch"
          },
          {
            "group": "",
            "version": "v1",
            "resource": "persistentvolumes",
            "strategy": "patch"
          },
          {
            "group": "storage.k8s.io",
            "version": "v1",
            "resource": "storageclasses",
            "strategy": "patch"
          },
          {
            "group": "apps",
            "version": "v1",
            "resource": "deployments",
            "strategy": "patch"
          },
          {
            "group": "apps",
            "version": "v1",
            "resource": "statefulsets",
            "strategy": "patch"
          },
          {
            "group": "apps",
            "version": "v1",
            "resource": "daemonsets",
            "strategy": "patch"
          },
          {
            "group": "apps",
            "version": "v1",
            "resource": "replicasets",
            "strategy": "patch"
          },
          {
            "group": "batch",
            "version": "v1",
            "resource": "jobs",
            "strategy": "patch"
          },
          {
            "group": "batch",
            "version": "v1",
            "resource": "cronjobs",
            "strategy": "patch"
          },
          {
            "group": "",
            "version": "v1",
            "resource": "pods",
            "strategy": "patch"
          },
          {
            "group": "",
            "version": "v1",
            "resource": "namespaces",
            "strategy": "patch"
          },
          {
            "group": "",
            "version": "v1",
            "resource": "nodes",
            "strategy": "patch"
          },
          {
            "group": "",
            "version": "v1",
            "resource": "configmaps",
            "strategy": "patch"
          },
          {
            "group": "networking.k8s.io",
            "version": "v1",
            "resource": "networkpolicies",
            "strategy": "patch"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "applicationactivities",
            "strategy": "copy"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "applicationprofiles",
            "strategy": "copy"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "knownservers",
            "strategy": "copy"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "networkneighborses",
            "strategy": "copy"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "networkneighborhoods",
            "strategy": "copy"
          },
          {
            "group": "cilium.io",
            "version": "v2",
            "resource": "ciliumnetworkpolicies",
            "strategy": "patch"
          },
          {
            "group": "projectcalico.org",
            "version": "v3",
            "resource": "networkpolicies",
            "strategy": "patch"
          },
          {
            "group": "security.istio.io",
            "version": "v1",
            "resource": "authorizationpolicies",
            "strategy": "patch"
          },
          {
            "group": "kubescape.io",
            "version": "v1",
            "resource": "servicesscanresults",
            "strategy": "patch"
          }
        ]
      },
      "httpEndpoint": {
        "serverPort": "{{ .Values.synchronizer.service.targetPort }}",
        "resources": [
          {
            "group": "kubescape.io",
            "version": "v1",
            "resource": "nodeprofiles",
            "strategy": "copy"
          },
          {
            "group": "kubescape.io",
            "version": "v1",
            "resource": "runtimealerts",
            "strategy": "copy"
          }
        ]
      }
    }
{{- end }}
