{{- $components := fromYaml (include "components" .) }}
{{- $configurations := fromYaml (include "configurations" .) }}
{{- if $components.synchronizer.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.synchronizer.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    kubescape.io/ignore: "true"
data:
  config.json: |
    {
      "inCluster": {
        "resources": [
          {
            "group": "apps",
            "version": "v1",
            "resource": "deployments",
            "strategy": "patch"
          },
          {
            "group": "apps",
            "version": "v1",
            "resource": "statefulsets",
            "strategy": "patch"
          },
          {
            "group": "apps",
            "version": "v1",
            "resource": "daemonsets",
            "strategy": "patch"
          },
          {
            "group": "apps",
            "version": "v1",
            "resource": "replicasets",
            "strategy": "patch"
          },
          {
            "group": "batch",
            "version": "v1",
            "resource": "jobs",
            "strategy": "patch"
          },
          {
            "group": "batch",
            "version": "v1",
            "resource": "cronjobs",
            "strategy": "patch"
          },
          {
            "group": "",
            "version": "v1",
            "resource": "pods",
            "strategy": "patch"
          },
          {
            "group": "",
            "version": "v1",
            "resource": "namespaces",
            "strategy": "patch"
          },
          {
            "group": "networking.k8s.io",
            "version": "v1",
            "resource": "networkpolicies",
            "strategy": "patch"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "applicationactivities",
            "strategy": "copy"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "applicationprofiles",
            "strategy": "copy"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "knownservers",
            "strategy": "copy"
          },
          {
            "group": "spdx.softwarecomposition.kubescape.io",
            "version": "v1beta1",
            "resource": "networkneighborses",
            "strategy": "copy"
          }
        ]
      }
    }
{{- end }}
