{{- $components := fromYaml (include "components" .) }}
{{- if $components.synchronizer.enabled }}
kind: ServiceAccount
apiVersion: v1
metadata:
{{- if .Values.cloudProviderMetadata.awsIamRoleArn }}
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.cloudProviderMetadata.awsIamRoleArn }}
  {{- else if .Values.cloudProviderMetadata.gkeServiceAccount }}
  annotations:
    iam.gke.io/gcp-service-account: {{ .Values.cloudProviderMetadata.gkeServiceAccount }}
{{- end }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.synchronizer.name "tier" .Values.global.namespaceTier) | nindent 4 }}
  name: {{ .Values.synchronizer.name }}
  namespace: {{ .Values.ksNamespace }}
automountServiceAccountToken: false
{{- end }}
