{{- $checksums := fromYaml (include "checksums" .) }}
{{- $components := fromYaml (include "components" .) }}
{{- if $components.otelCollector.enabled }}
{{- $no_proxy_envar_list := (include "no_proxy_envar_list" .) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.otelCollector.name }}
  namespace: {{ .Values.ksNamespace }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.otelCollector.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    rollingUpdate:
      maxSurge: 0%
      maxUnavailable: 100%
    type: RollingUpdate
  selector:
    matchLabels:
      {{- include "kubescape-operator.selectorLabels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.otelCollector.name) | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 8 }}
        {{- with .Values.otelCollector.podAnnotations }}{{- toYaml . | nindent 8 }}{{- end }}
        checksum/otel-config: {{ $checksums.otelConfig }}
      {{- if ne .Values.global.proxySecretFile "" }}
        checksum/proxy-config: {{ $checksums.proxySecret }}
      {{- end }}
      labels:
        {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.otelCollector.name "tier" .Values.global.namespaceTier) | nindent 8 }}
        {{- with .Values.otelCollector.podLabels }}{{- toYaml . | nindent 8 }}{{- end }}
        kubescape.io/tier: "core"
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- if kindIs "string" .Values.imagePullSecrets }}
      - name: {{ .Values.imagePullSecrets }}
      {{- else }}
      {{- range .Values.imagePullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      {{- end }}
      containers:
      - name: {{ .Values.otelCollector.name }}
        image: "{{ .Values.otelCollector.image.repository }}:{{ .Values.otelCollector.image.tag }}"
        imagePullPolicy: "{{ .Values.otelCollector.image.pullPolicy }}"
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 100
        ports:
          - name: otlp
            containerPort: 4317
            protocol: TCP
          - name: otlp-http
            containerPort: 4318
            protocol: TCP
        livenessProbe:
          tcpSocket:
            port: otlp
        readinessProbe:
          tcpSocket:
            port: otlp
        env:
        - name: CLOUD_OTEL_COLLECTOR_URL
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.global.cloudConfig }}
              key: metrics
        - name: GOMEMLIMIT
          valueFrom:
            resourceFieldRef:
              resource: limits.memory
              divisor: '1'
        - name: GOMAXPROCS
          valueFrom:
            resourceFieldRef:
              resource: limits.cpu
              divisor: '1'
        - name: GOGC
          value: "80"
        {{- if ne .Values.global.httpsProxy "" }}
        - name: HTTPS_PROXY
          value: "{{ .Values.global.httpsProxy }}"
        - name : no_proxy
          value: "{{ $no_proxy_envar_list }}"
        {{- end }}
        command:
        - "/otelcol"
        - "--config=/conf/otel-collector-config.yaml"
        resources:
{{ toYaml .Values.otelCollector.resources | indent 14 }}
        volumeMounts:
        - name: otel-collector-config-volume
          mountPath: /conf
{{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 8 }}
{{- end }}
{{- if .Values.otelCollector.volumeMounts }}
{{ toYaml .Values.otelCollector.volumeMounts | indent 8 }}
{{- end }}
{{- if ne .Values.global.proxySecretFile "" }}
        - name: proxy-secret
          mountPath: /etc/ssl/certs/proxy.crt
          subPath: proxy.crt
{{- end }}
      volumes:
      {{- if ne .Values.global.proxySecretFile "" }}
      - name: proxy-secret
        secret:
          secretName: {{ .Values.global.proxySecretName }}
      {{- end }}
      - name: otel-collector-config-volume
        configMap:
          name: otel-collector-config
{{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 6 }}
{{- end }}
{{- if .Values.otelCollector.volumes }}
{{ toYaml .Values.otelCollector.volumes | indent 6 }}
{{- end }}
      serviceAccountName: {{ .Values.otelCollector.name }}
      nodeSelector:
      {{- if .Values.otelCollector.nodeSelector }}
      {{- toYaml .Values.otelCollector.nodeSelector | nindent 8 }}
      {{- else if .Values.customScheduling.nodeSelector }}
      {{- toYaml .Values.customScheduling.nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
      {{- if .Values.otelCollector.affinity }}
      {{- toYaml .Values.otelCollector.affinity | nindent 8 }}
      {{- else if .Values.customScheduling.affinity }}
      {{- toYaml .Values.customScheduling.affinity | nindent 8 }}
      {{- end }}
      tolerations:
      {{- if .Values.otelCollector.tolerations }}
      {{- toYaml .Values.otelCollector.tolerations | nindent 8 }}
      {{- else if .Values.customScheduling.tolerations }}
      {{- toYaml .Values.customScheduling.tolerations | nindent 8 }}
      {{- end }}
{{- end }}
