{{- $components := fromYaml (include "components" .) }}
{{- if and $components.serviceDiscovery.enabled false }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceDiscovery.name }}
  namespace: {{ .Values.ksNamespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "0"
{{- end }}
