[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[ dn ]
C = US
ST = California
L = San Francisco
O = My Company
OU = My Division
emailAddress = my@email.com
CN = nginx-proxy.default

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = nginx-proxy.default
DNS.2 = nginx-proxy
