{{- $components := fromYaml (include "components" .) }}
{{- if $components.kubescapeScheduler.enabled }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Values.kubescapeScheduler.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    app: {{ .Values.kubescapeScheduler.name }}
    tier: {{ .Values.global.namespaceTier }}
    kubescape.io/ignore: "true"
    kubescape.io: "core"
data:
  request-body.json: |-
    {"commands":[{"CommandName":"kubescapeScan","args":{"scanV1": {}}}]}
{{- end }}
