apiVersion: v2
name: kubescape-prometheus-integrator
description:
  Kubescape integration with Prometheus 
 
type: application

version: 0.0.13

appVersion: "v0.0.13"

maintainers:
- name: Ben Hirschberg
  email: ben@armosec.io
  url: https://www.linkedin.com/in/benyamin-ben-hirschberg-66141890
- name: David Wertenteil
  email: dw@armosec.io
  url: https://www.linkedin.com/in/david-wertenteil-0ba277b9
- name: Bezalel Brandwine
  email: bez@armosec.io
  url: https://www.linkedin.com/in/bezalel-brandwine

home: https://www.armosec.io/
