{{- if .Values.kubescapeStorage.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "kubescapeStorage.apiServer.service.name" . | quote }}
  namespace: {{ .Values.ksNamespace }} 
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 443
  selector:
    {{ .Values.kubescapeStorage.k8sApiserver.deployment.labels | toYaml | nindent 4}}
{{- end }}
