{{- if and .Values.kubescapeScheduler.enabled .Values.kubescape.enabled .Values.kubescape.submit }}
kind: ConfigMap 
apiVersion: v1 
metadata:
  name: {{ .Values.kubescapeScheduler.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    app: {{ .Values.kubescapeScheduler.name }}
    tier: {{ .Values.global.namespaceTier }}
data:
  request-body.json: |-
    {"commands":[{"CommandName":"kubescapeScan","args":{"scanV1": {}}}]}
{{- end }}