apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: kernelversions.hostdata.kubescape.cloud
spec:
  group: hostdata.kubescape.cloud
  names:
    kind: KernelVersion
    listKind: KernelVersionList
    plural: kernelversions
    singular: kernelversion
  scope: Cluster
  versions:
  - name: v1beta1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            x-kubernetes-preserve-unknown-fields: true
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
    additionalPrinterColumns:
    - name: Node
      type: string
      jsonPath: .spec.nodeName
    - name: Last Sensed
      type: string
      jsonPath: .status.lastSensed
