{{- $checksums := fromYaml (include "checksums" .) }}
{{- $components := fromYaml (include "components" .) }}
{{- if $components.kubescape.enabled }}
{{- $configurations := fromYaml (include "configurations" .) }}
{{- $no_proxy_envar_list := (include "no_proxy_envar_list" .) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.kubescape.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.kubescape.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app: {{ .Values.kubescape.name }}
    tier: {{ .Values.global.namespaceTier }}
    kubescape.io/ignore: "true"
    kubescape.io/tier: "core"
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    rollingUpdate:
      maxSurge: 0%
      maxUnavailable: 100%
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.kubescape.name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      tier: {{ .Values.global.namespaceTier }}
  template:
    metadata:
      annotations:
        checksum/host-scanner-configmap: {{ $checksums.hostScannerConfig }}
        checksum/cloud-secret: {{ $checksums.cloudSecret }}
        checksum/cloud-config: {{ $checksums.cloudConfig }}
      {{- if ne .Values.global.proxySecretFile "" }}
        checksum/proxy-config: {{ $checksums.proxySecret }}
      {{- end }}
      {{- if eq .Values.configurations.prometheusAnnotations "enable" }}
        prometheus.io/path: /v1/metrics
        prometheus.io/port: "8080"
        prometheus.io/scrape: "true"
      {{- end }}
      labels:
        kubescape.io/tier: "core"
        app.kubernetes.io/name: {{ .Values.kubescape.name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        tier: {{ .Values.global.namespaceTier }}
        app: {{ .Values.kubescape.name }}
      {{- if $components.otelCollector.enabled }}
        otel: enabled
      {{- end }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ toYaml .Values.imagePullSecrets }}
      {{- end }}
      securityContext:
        runAsUser: 65532
        fsGroup: 65532
      containers:
      - name: kubescape
        image: "{{ .Values.kubescape.image.repository }}:{{ .Values.kubescape.image.tag }}"
        imagePullPolicy: "{{ .Values.kubescape.image.pullPolicy }}"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
        livenessProbe:
          httpGet:
            path: /livez
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 3
        env:
        - name: GOMEMLIMIT
          value: "{{ .Values.kubescape.resources.requests.memory }}B"
        - name: KS_LOGGER_LEVEL
          value: "{{ .Values.logger.level }}"
        - name: KS_LOGGER_NAME
          value: "{{ .Values.logger.name }}"
        - name: KS_DOWNLOAD_ARTIFACTS  # When set to true the artifacts will be downloaded every scan execution
          value: "{{ .Values.kubescape.downloadArtifacts }}"
        - name: RULE_PROCESSING_GOMAXPROCS
          value: "{{ .Values.kubescape.ruleProcessingConcurrency }}"
        - name: KS_DEFAULT_CONFIGMAP_NAME
          value: "{{ .Values.kubescape.name }}-config"
        - name: KS_DEFAULT_CONFIGMAP_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: KS_CONTEXT
          value: "{{ .Values.clusterName }}"
        - name: KS_DEFAULT_CLOUD_CONFIGMAP_NAME
          value: {{ .Values.global.cloudConfig }}
        - name: KS_ENABLE_HOST_SCANNER
          value: "{{ $components.hostScanner.enabled }}"
        - name: KS_SKIP_UPDATE_CHECK
          value: "{{ .Values.kubescape.skipUpdateCheck }}"
        - name: KS_HOST_SCAN_YAML
          value: "/home/nonroot/.kubescape/host-scanner.yaml"
        - name: LARGE_CLUSTER_SIZE
          value: "1500"
        {{- range .Values.kubescape.env }}
        - name: {{ .name }}
          value: "{{ .value }}"
        {{- end }}
        {{- if .Values.cloudProviderMetadata.cloudRegion }}
        - name: KS_CLOUD_REGION
          value: "{{ .Values.cloudProviderMetadata.cloudRegion }}"
        {{- end }}
        {{- if .Values.cloudProviderMetadata.gkeProject }}
        - name: KS_GKE_PROJECT
          value: "{{ .Values.cloudProviderMetadata.gkeProject }}"
        {{- end }}
        {{- if .Values.cloudProviderMetadata.aksSubscriptionID }}
        - name: AZURE_SUBSCRIPTION_ID
          value: "{{ .Values.cloudProviderMetadata.aksSubscriptionID }}"
        {{- end }}
        {{- if .Values.cloudProviderMetadata.aksClientID }}
        - name: AZURE_CLIENT_ID
          value: "{{ .Values.cloudProviderMetadata.aksClientID }}"
        {{- end }}
        {{- if .Values.cloudProviderMetadata.aksClientSecret }}
        - name: AZURE_CLIENT_SECRET
          value: "{{ .Values.cloudProviderMetadata.aksClientSecret }}"
        {{- end }}
        {{- if .Values.cloudProviderMetadata.aksTenantID }}
        - name: AZURE_TENANT_ID
          value: "{{ .Values.cloudProviderMetadata.aksTenantID }}"
        {{- end }}
        {{- if .Values.cloudProviderMetadata.aksResourceGroup }}
        - name: AZURE_RESOURCE_GROUP
          value: "{{ .Values.cloudProviderMetadata.aksResourceGroup }}"
        {{- end }}
        {{- if $components.otelCollector.enabled }}
        - name: ACCOUNT_ID
          valueFrom:
            secretKeyRef:
              name: {{ $components.cloudSecret.name }}
              key: account
        - name: OTEL_COLLECTOR_SVC
          value: "otel-collector:4317"
        {{- end }}
        {{- if ne .Values.global.httpsProxy "" }}
        - name: HTTPS_PROXY
          value: "{{ .Values.global.httpsProxy }}"
        - name : no_proxy
          value: "{{ $no_proxy_envar_list }}"
        {{- end }}
        {{- if ne .Values.includeNamespaces "" }}
        - name: KS_INCLUDE_NAMESPACES
          value: "{{ .Values.includeNamespaces }}"
        {{- else if ne .Values.excludeNamespaces "" }}
        - name: KS_EXCLUDE_NAMESPACES
          value: "{{ .Values.excludeNamespaces }}"
        {{- end }}
        command:
        - ksserver
        resources:
{{ toYaml .Values.kubescape.resources | indent 14 }}
        volumeMounts:
        - name: {{ $components.cloudSecret.name }}
          mountPath: /etc/credentials
          readOnly: true
        - name: kubescape-volume
          mountPath: /home/nonroot/.kubescape
          subPath: config.json
        - name: host-scanner-definition
          mountPath: /home/nonroot/.kubescape/host-scanner.yaml
          subPath: host-scanner-yaml
        - name: results
          mountPath: /home/nonroot/results
        - name: failed
          mountPath: /home/nonroot/failed
        - name: {{ .Values.global.cloudConfig }}
          mountPath: /etc/config
          readOnly: true
{{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 8 }}
{{- end }}
{{- if .Values.kubescape.volumeMounts }}
{{ toYaml .Values.kubescape.volumeMounts | indent 8 }}
{{- end }}
{{- if ne .Values.global.proxySecretFile "" }}
        - name: proxy-secret
          mountPath: /etc/ssl/certs/proxy.crt
          subPath: proxy.crt
{{- end }}
{{- if .Values.global.overrideDefaultCaCertificates.enabled }}
        - name: custom-ca-certificates
          mountPath: /etc/ssl/certs/ca-certificates.crt
          subPath: ca-certificates.crt
{{- end }}
      volumes:
      - name: {{ $components.cloudSecret.name }}
        secret:
          secretName: {{ $components.cloudSecret.name }}
      {{- if ne .Values.global.proxySecretFile "" }}
      - name: proxy-secret
        secret:
          secretName: {{ .Values.global.proxySecretName }}
      {{- end }}
      {{- if .Values.global.overrideDefaultCaCertificates.enabled }}
      - name: custom-ca-certificates
        secret:
          secretName: {{ $components.customCaCertificates.name }}
      {{- end }}
      - name: {{ .Values.global.cloudConfig }}
        configMap:
          name: {{ .Values.global.cloudConfig }}
          items:
          - key: "clusterData"
            path: "clusterData.json"
          {{- if $components.serviceDiscovery.enabled }}
          - key: "services"
            path: "services.json"
          {{- end }}
      - name: host-scanner-definition
        configMap:
          name: host-scanner-definition
      - name: kubescape-volume
        emptyDir: {}
      - name: results
        emptyDir: {}
      - name: failed
        emptyDir: {}
{{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 6 }}
{{- end }}
{{- if .Values.kubescape.volumes }}
{{ toYaml .Values.kubescape.volumes | indent 6 }}
{{- end }}
      serviceAccountName: {{ .Values.kubescape.name }}
      automountServiceAccountToken: true
      nodeSelector:
      {{- if .Values.kubescape.nodeSelector }}
      {{- toYaml .Values.kubescape.nodeSelector | nindent 8 }}
      {{- else if .Values.customScheduling.nodeSelector }}
      {{- toYaml .Values.customScheduling.nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
      {{- if .Values.kubescape.affinity }}
      {{- toYaml .Values.kubescape.affinity | nindent 8 }}
      {{- else if .Values.customScheduling.affinity }}
      {{- toYaml .Values.customScheduling.affinity | nindent 8 }}
      {{- end }}
      tolerations:
      {{- if .Values.kubescape.tolerations }}
      {{- toYaml .Values.kubescape.tolerations | nindent 8 }}
      {{- else if .Values.customScheduling.tolerations }}
      {{- toYaml .Values.customScheduling.tolerations | nindent 8 }}
      {{- end }}
{{- end }}
