{{- $cloud_provider := (include "cloud_provider" .) -}}
kind: ServiceAccount
apiVersion: v1
metadata:
{{- if .Values.cloudProviderMetadata.awsIamRoleArn }}
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.cloudProviderMetadata.awsIamRoleArn }}
  {{- else if .Values.cloudProviderMetadata.gkeServiceAccount }}
  annotations:
    iam.gke.io/gcp-service-account: {{ .Values.cloudProviderMetadata.gkeServiceAccount }}
{{- end }}
  labels:
    app: {{ .Values.kubescape.name }}
  name: {{ .Values.kubescape.name }}
  namespace: {{ .Values.ksNamespace }}
automountServiceAccountToken: false
