{{- $components := fromYaml (include "components" .) }}
{{- if $components.storage.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.storage.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    kubescape.io/ignore: "true"
    kubescape.io/tier: "core"
    {{ .Values.storage.labels | toYaml  | nindent 4 }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{ .Values.storage.labels | toYaml | nindent 6 }}
  template:
    metadata:
      labels:
        kubescape.io/tier: "core"
      {{- if $components.otelCollector.enabled }}
        otel: enabled
      {{- end }}
        {{ .Values.storage.labels | toYaml | nindent 8 }}
    spec:
      hostPID: true
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ toYaml .Values.imagePullSecrets }}
      {{- end }}
      serviceAccountName: {{ .Values.storage.name }}       
      containers:
      - name: strace
        image: quay.io/dwertent/strace:debian-1 
        securityContext:
          runAsUser: 0
          allowPrivilegeEscalation: true
          runAsNonRoot: false
          privileged: true
          capabilities:
            add:
            - SYS_PTRACE
            - SYS_ADMIN
        volumeMounts:
        - name: shared
          mountPath: /shared
      - name: apiserver
        image: "{{ .Values.storage.image.repository }}:{{ .Values.storage.image.tag }}"
        imagePullPolicy: {{ .Values.storage.image.pullPolicy }}
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 65532
          fsGroup: 65532
        env:
          - name: "CLEANUP_INTERVAL"
            value: "{{ .Values.storage.cleanupInterval }}"
          - name: KS_LOGGER_LEVEL
            value: "{{ .Values.logger.level }}"
          - name: KS_LOGGER_NAME
            value: "{{ .Values.logger.name }}"
          {{- if $components.otelCollector.enabled }}
          - name: ACCOUNT_ID
            valueFrom:
              secretKeyRef:
                name: {{ $components.cloudSecret.name }}
                key: account
          - name: OTEL_COLLECTOR_SVC
            value: "otel-collector:4317"
          {{- end }}
        volumeMounts:
          - name: "data"
            mountPath: "/data"
          - name: {{ .Values.global.cloudConfig }}
            mountPath: /etc/config
            readOnly: true
      nodeSelector:
      {{- if .Values.storage.nodeSelector }}
      {{- toYaml .Values.storage.nodeSelector | nindent 8 }}
      {{- else if .Values.customScheduling.nodeSelector }}
      {{- toYaml .Values.customScheduling.nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
      {{- if .Values.storage.affinity }}
      {{- toYaml .Values.storage.affinity | nindent 8 }}
      {{- else if .Values.customScheduling.affinity }}
      {{- toYaml .Values.customScheduling.affinity | nindent 8 }}
      {{- end }}
      tolerations:
      {{- if .Values.storage.tolerations }}
      {{- toYaml .Values.storage.tolerations | nindent 8 }}
      {{- else if .Values.customScheduling.tolerations }}
      {{- toYaml .Values.customScheduling.tolerations | nindent 8 }}
      {{- end }}
      volumes:
        - name: shared
          emptyDir: {}
        - name: "data"
          {{- if eq .Values.configurations.persistence "enable" }}
          persistentVolumeClaim:
            claimName: kubescape-{{ .Values.storage.name }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: {{ .Values.global.cloudConfig }}
          configMap:
            name: {{ .Values.global.cloudConfig }}
            items:
            - key: "clusterData"
              path: "clusterData.json"
            {{- if $components.serviceDiscovery.enabled }}
            - key: "services"
              path: "services.json"
            {{- end }}
{{- end }}
