{{- $checksums := fromYaml (include "checksums" .) }}
{{- $components := fromYaml (include "components" .) }}
{{- if $components.kollector.enabled }}
{{- $no_proxy_envar_list := (include "no_proxy_envar_list" .) -}}
apiVersion: apps/v1
# statefulset is needed in order to avoid two pods reporting from the same cluster in parallel.
# parallel reporting will cause Kubescape SaaS to miss identify the cluster liveness status
kind: StatefulSet
metadata:
  name: {{ .Values.kollector.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.kollector.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
spec:
  serviceName: ""
  replicas: 1
  selector:
    matchLabels:
      {{- include "kubescape-operator.selectorLabels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.kollector.name) | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/cloud-secret: {{ $checksums.cloudSecret }}
        checksum/cloud-config: {{ $checksums.cloudConfig }}
      {{- if ne .Values.global.proxySecretFile "" }}
        checksum/proxy-config: {{ $checksums.proxySecret }}
      {{- end }}
      labels:
        {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.kollector.name "tier" .Values.global.namespaceTier) | nindent 8 }}
        kubescape.io/tier: "core"
      {{- if $components.otelCollector.enabled }}
        otel: enabled
      {{- end }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ toYaml .Values.imagePullSecrets }}
      {{- end }}
      containers:
        - name: {{ .Values.kollector.name }}
          image: "{{ .Values.kollector.image.repository }}:{{ .Values.kollector.image.tag }}"
          imagePullPolicy: {{ .Values.kollector.image.pullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 100
          ports:
            - name: "readiness-port"
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /v1/liveness
              port: readiness-port
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /v1/readiness
              port: readiness-port
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
{{ toYaml .Values.kollector.resources | indent 12 }}
          env:
            - name: GOMEMLIMIT
              valueFrom:
                resourceFieldRef:
                  resource: limits.memory
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu
            - name: KS_LOGGER_LEVEL
              value: "{{ .Values.logger.level }}"
            - name: KS_LOGGER_NAME
              value: "{{ .Values.logger.name }}"
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- if $components.otelCollector.enabled }}
            - name: ACCOUNT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ $components.cloudSecret.name }}
                  key: account
            - name: OTEL_COLLECTOR_SVC
              value: "otel-collector:4318"
            {{- end }}
            {{- if ne .Values.global.httpsProxy "" }}
            - name: HTTPS_PROXY
              value: "{{ .Values.global.httpsProxy }}"
            - name : no_proxy
              value: "{{ $no_proxy_envar_list }}"
            {{- end }}
            {{- range .Values.kollector.env }}
            - name: {{ .name }}
              value: "{{ .value }}"
            {{- end }}
          args:
          - -alsologtostderr
          - -v=4
          - 2>&1
          volumeMounts:
            - name: {{ $components.cloudSecret.name }}
              mountPath: /etc/credentials
              readOnly: true
            - name: tmp-dir
              mountPath: /tmp
            - name: {{ .Values.global.cloudConfig }}
              mountPath: /etc/config
              readOnly: true
{{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 12 }}
{{- end }}
{{- if .Values.kollector.volumeMounts }}
{{ toYaml .Values.kollector.volumeMounts | indent 12 }}
{{- end }}
{{- if ne .Values.global.proxySecretFile "" }}
            - name: proxy-secret
              mountPath: /etc/ssl/certs/proxy.crt
              subPath: proxy.crt
{{- end }}
{{- if .Values.global.overrideDefaultCaCertificates.enabled }}
            - name: custom-ca-certificates
              mountPath: /etc/ssl/certs/ca-certificates.crt
              subPath: ca-certificates.crt
{{- end }}
      volumes:
        - name: {{ $components.cloudSecret.name }}
          secret:
            secretName: {{ $components.cloudSecret.name }}
      {{- if ne .Values.global.proxySecretFile "" }}
        - name: proxy-secret
          secret:
            secretName: {{ .Values.global.proxySecretName }}
      {{- end }}
      {{- if .Values.global.overrideDefaultCaCertificates.enabled }}
        - name: custom-ca-certificates
          secret:
            secretName: {{ $components.customCaCertificates.name }}
      {{- end }}
        - name: tmp-dir
          emptyDir: {}
        - name: {{ .Values.global.cloudConfig }}
          configMap:
            name: {{ .Values.global.cloudConfig }}
            items:
            - key: "clusterData"
              path: "clusterData.json"
            {{- if $components.serviceDiscovery.enabled }}
            - key: "services"
              path: "services.json"
            {{- end }}
{{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 8 }}
{{- end }}
{{- if .Values.kollector.volumes }}
{{ toYaml .Values.kollector.volumes | indent 8 }}
{{- end }}
      serviceAccountName: {{ .Values.kollector.name }}
      automountServiceAccountToken: true
      nodeSelector:
      {{- if .Values.kollector.nodeSelector }}
      {{- toYaml .Values.kollector.nodeSelector | nindent 8 }}
      {{- else if .Values.customScheduling.nodeSelector }}
      {{- toYaml .Values.customScheduling.nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
      {{- if .Values.kollector.affinity }}
      {{- toYaml .Values.kollector.affinity | nindent 8 }}
      {{- else if .Values.customScheduling.affinity }}
      {{- toYaml .Values.customScheduling.affinity | nindent 8 }}
      {{- end }}
      tolerations:
      {{- if .Values.kollector.tolerations }}
      {{- toYaml .Values.kollector.tolerations | nindent 8 }}
      {{- else if .Values.customScheduling.tolerations }}
      {{- toYaml .Values.customScheduling.tolerations | nindent 8 }}
      {{- end }}
{{- end }}
