{{- $components := fromYaml (include "components" .) }}
{{- $configurations := fromYaml (include "configurations" .) }}
{{- if $components.nodeAgent.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.nodeAgent.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    kubescape.io/ignore: "true"
data:
  config.json: |
    {
        "applicationProfileServiceEnabled": {{ $configurations.runtimeObservability }},
        "relevantCVEServiceEnabled": true,
        "prometheusExporterEnabled": "{{ eq .Values.nodeAgent.config.prometheusExporter "enable" }}",
        "runtimeDetectionEnabled": "{{ eq .Values.capabilities.runtimeDetection "enable" }}",
        "networkServiceEnabled": "{{ eq .Values.capabilities.networkPolicyService "enable" }}",
        "InitialDelay": "{{ .Values.nodeAgent.config.learningPeriod }}",
        "updateDataPeriod": "{{ .Values.nodeAgent.config.updatePeriod }}",
        "maxSniffingTimePerContainer": "{{ .Values.nodeAgent.config.maxLearningPeriod }}",
        "exporters": {
          "httpExporterConfig": {{- .Values.nodeAgent.config.httpExporterConfig | toJson }}
        }
    }
---
{{- if $components.clamAV.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.clamav.name }}
  namespace: {{ .Values.ksNamespace }}
data:
  clamd.conf: |-
{{ .Files.Get "clamav/clamd.conf" | indent 4 }}
  freshclam.conf: |-
{{ .Files.Get "clamav/freshclam.conf" | indent 4 }}
{{- end}}
{{- end }}
