{{- $components := fromYaml (include "components" .) }}
{{- if and $components.nodeAgent.enabled (not .Values.nodeAgent.multipleDaemonSets.enabled) .Values.nodeAgent.applyViaConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.nodeAgent.name }}-daemonset
  namespace: {{ .Values.ksNamespace }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
    kubescape.io/resource-type: daemonset-yaml
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.nodeAgent.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
    kubescape.io/apply-resource: "true"
data:
  daemonset.yaml: |
{{ include "node-agent.daemonset" . | indent 4 }}
{{- end }}
