{{- $checksums := fromYaml (include "checksums" .) }}
{{- $components := fromYaml (include "components" .) }}
{{- if and $components.nodeAgent.enabled .Values.nodeAgent.multipleDaemonSets.enabled (not .Values.nodeAgent.autoscaler.enabled) }}
{{- $no_proxy_envar_list := (include "no_proxy_envar_list" .) -}}
{{- range $index, $config := .Values.nodeAgent.multipleDaemonSets.configurations }}
{{- with $ }}
{{- $daemonsetName := printf "%s-%d" .Values.nodeAgent.name (add $index 1) }}
apiVersion: apps/v1
{{- if .Values.capabilities.testing.nodeAgentMultiplication.enabled }}
kind: Deployment
{{- else }}
kind: DaemonSet
{{- end }}
metadata:
  name: {{ $daemonsetName }}
  namespace: {{ .Values.ksNamespace }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.nodeAgent.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
spec:
{{- if .Values.capabilities.testing.nodeAgentMultiplication.enabled }}
  replicas: {{ .Values.capabilities.testing.nodeAgentMultiplication.replicas }}
{{- end }}
  {{- include "node-agent.daemonsetSpec" (dict
    "Values" .Values
    "Chart" .Chart
    "Release" .Release
    "Capabilities" .Capabilities
    "components" $components
    "checksums" $checksums
    "no_proxy_envar_list" $no_proxy_envar_list
    "autoscalerMode" false
    "testingMode" true
    "resources" $config.resources
    "nodeSelector" $config.nodeSelector
    "includeClamAV" true
  ) | nindent 2 }}
{{- end }}
---
{{- end }}
{{- end }}
