{{- if and .Values.alertCRD.installDefault .Values.alertCRD.scopeClustered }}
apiVersion: kubescape.io/v1
kind: RuntimeRuleAlertBinding
metadata:
  name: all-rules-all-pods
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.nodeAgent.name "tier" .Values.global.namespaceTier) | nindent 4 }}
spec:
  namespaceSelector:
    matchExpressions:
      {{- if ne .Values.includeNamespaces "" }}
      - key: "kubernetes.io/metadata.name"
        operator: "In"
        values:
          {{- $namespaces := split "," .Values.includeNamespaces }}
          {{- range $namespaces }}
          - {{ . | quote }}
          {{- end }}
      {{- else if ne .Values.excludeNamespaces "" }}
      - key: "kubernetes.io/metadata.name"
        operator: "NotIn"
        values:
          {{- $namespaces := split "," .Values.excludeNamespaces }}
          {{- range $namespaces }}
          - {{ . | quote }}
          {{- end }}
      {{- end }}
  rules:
    - ruleName: "Unexpected process launched"
    - ruleName: "Unexpected file access"
      parameters:
        ignoreMounts: true
        ignorePrefixes: ["/proc", "/run/secrets/kubernetes.io/serviceaccount", "/var/run/secrets/kubernetes.io/serviceaccount", "/tmp"]
        includePrefixes: [ "/etc", "/var/spool/cron/", "/var/log/", "/var/run/", "/dev/shm/", "/run/", "/var/www/", "/var/lib/docker/", "/opt/", "/usr/local/", "/app/", "/.dockerenv", "/proc/self/environ", "/var/lib/kubelet/", "/etc/cni/net.d/", "/var/run/secrets/kubernetes.io/", "/var/run/secrets/kubernetes.io/serviceaccount/", "/run/containerd/", "/run/flannel/", "/run/calico/"]
    - ruleName: "Unexpected system call"
    - ruleName: "Unexpected capability used"
    - ruleName: "Unexpected domain request"
    - ruleName: "Unexpected Service Account Token Access"
    - ruleName: "Kubernetes Client Executed"
    - ruleName: "Exec from malicious source"
    - ruleName: "Kernel Module Load"
    - ruleName: "Exec Binary Not In Base Image"
    # - ruleName: "Malicious SSH Connection"
    - ruleName: "Fileless Execution"
    - ruleName: "XMR Crypto Mining Detection"
    - ruleName: "Exec from mount"
    - ruleName: "Crypto Mining Related Port Communication"
    - ruleName: "Crypto Mining Domain Communication"
    - ruleName: "Read Environment Variables from procfs"
    - ruleName: "eBPF Program Load"
    - ruleName: "Symlink Created Over Sensitive File"
    - ruleName: "Unexpected Sensitive File Access"
    - ruleName: "Hardlink Created Over Sensitive File"
    - ruleName: "Exec to pod"
    - ruleName: "Port forward"
    # - ruleName: "Unexpected Egress Network Traffic"
    - ruleName: "Malicious Ptrace Usage"
    - ruleName: "Cross-Site Scripting (XSS) Attempt"
    - ruleName: "SQL Injection Attempt"
    - ruleName: "Server-Side Request Forgery Attack Attempt"
    - ruleName: "Remote File Inclusion Attack Attempt"
    - ruleName: "Local File Inclusion Attempt"
    - ruleName: "XML External Entity Attack Attempt"
    - ruleName: "Server-Side Template Injection Attack"
    - ruleName: "Command Injection Attempt"
    - ruleName: "Unexpected Exec Source"
    - ruleName: "Unexpected Open Source"
    - ruleName: "Unexpected Symlink Source"
    - ruleName: "Unexpected Hardlink Source"
    - ruleName: "Unexpected io_uring Operation Detected"
    - ruleName: "ReDoS Attack"
    - ruleName: "Prototype Pollution Attack"
    - ruleName: "Execution of base64 Encoded Command"
    - ruleName: "Execution of interpreter command"
    - ruleName: "Code Sharing Site Access"
    - ruleName: "Web Application File Write Access"
    - ruleName: "Cron Job File Created or Modified"
    - ruleName: "Hidden File Created"
    - ruleName: "Reverse Shell Patterens Detected"
    - ruleName: "Unauthorized IMDS Connection Attempt"
    - ruleName: "Credentials Detection Attempts"
    - ruleName: "HTTP Request Smuggling Attempt"
{{- end }}
