{{- $components := fromYaml (include "components" .) }}
{{- if $components.nodeAgent.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.nodeAgent.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    app: {{ .Values.nodeAgent.name }}
    kubescape.io/ignore: "true"
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app.kubernetes.io/name: {{ .Values.nodeAgent.name }}
{{- end }}
