{{- $components := fromYaml (include "components" .) }}
{{- if $components.operator.enabled }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.operator.name }}
  labels:
    kubescape.io/ignore: "true"
rules:
  - apiGroups: [""]
    resources: ["pods", "nodes", "namespaces", "configmaps", "secrets", "services"]
    verbs: ["get", "watch", "list"]
  - apiGroups: ["batch"]
    resources: ["jobs", "cronjobs"]
    verbs: ["get", "watch", "list"]
  - apiGroups: ["apps"]
    resources: ["deployments", "daemonsets", "statefulsets", "replicasets"]
    verbs: ["get", "watch", "list"]
  - apiGroups: ["spdx.softwarecomposition.kubescape.io"]
    resources: ["vulnerabilitymanifests", "vulnerabilitymanifestsummaries", "workloadconfigurationscans", "workloadconfigurationscansummaries", "openvulnerabilityexchangecontainers", "sbomsyftfiltereds", "sbomsyfts"]
    verbs: ["get", "watch", "list", "delete"]
  - apiGroups: ["kubescape.io"]
    resources: ["runtimerulealertbindings"]
    verbs: ["list", "watch"]
  - apiGroups: ["kubescape.io"]
    resources: ["servicesscanresults"]
    verbs: ["get", "watch", "list", "create", "update", "delete" ,"patch"]
  {{- end }}
