{{- $components := fromYaml (include "components" .) }}
  {{- if $components.operator.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.operator.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.operator.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
data:
  config.json: |
    {
        {{- if ne .Values.includeNamespaces "" }}
      "includeNamespaces": "{{ .Values.includeNamespaces }}",
        {{- else if ne .Values.excludeNamespaces "" }}
      "excludeNamespaces": "{{ .Values.excludeNamespaces }}",
        {{- end }}
      "namespace": "{{ .Values.ksNamespace }}",
      "triggersecurityframework": {{ .Values.operator.triggerSecurityFramework }},
      "podScanGuardTime": "{{ .Values.operator.podScanGuardTime }}",
      "httpExporterConfig": {{- .Values.nodeAgent.config.httpExporterConfig | toJson }}
    }
{{- end }}
