{{- $components := fromYaml (include "components" .) }}
  {{- if $components.operator.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.operator.name }}
  namespace: {{ .Values.ksNamespace }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.operator.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
data:
  config.json: |
    {
        {{- if ne .Values.includeNamespaces "" }}
      "includeNamespaces": "{{ .Values.includeNamespaces }}",
        {{- else if ne .Values.excludeNamespaces "" }}
      "excludeNamespaces": "{{ .Values.excludeNamespaces }}",
        {{- end }}
      "namespace": "{{ .Values.ksNamespace }}",
      "triggersecurityframework": {{ .Values.operator.triggerSecurityFramework }},
      "podScanGuardTime": "{{ .Values.operator.podScanGuardTime }}",
      "excludeJsonPaths": {{- .Values.configurations.excludeJsonPaths | toJson }},
        {{- if .Values.operator.rulesUpdateConfig }}
      "rulesUpdateConfig": {
        "Enabled": {{ .Values.operator.rulesUpdateConfig.enabled }},
        "Interval": "{{ .Values.operator.rulesUpdateConfig.interval }}",
        "Namespace": "{{ .Values.ksNamespace }}"
      },
        {{- end }}
      "httpExporterConfig": {{- .Values.nodeAgent.config.httpExporterConfig | toJson }},
      "nodeAgentAutoscaler": {
        "enabled": {{ .Values.nodeAgent.autoscaler.enabled }},
        "nodeGroupLabel": "{{ .Values.nodeAgent.autoscaler.nodeGroupLabel }}",
        "resourcePercentages": {
          "requestCPU": {{ .Values.nodeAgent.autoscaler.resourcePercentages.requestCPU }},
          "requestMemory": {{ .Values.nodeAgent.autoscaler.resourcePercentages.requestMemory }},
          "limitCPU": {{ .Values.nodeAgent.autoscaler.resourcePercentages.limitCPU }},
          "limitMemory": {{ .Values.nodeAgent.autoscaler.resourcePercentages.limitMemory }}
        },
        "minResources": {
          "cpu": "{{ .Values.nodeAgent.autoscaler.minResources.cpu }}",
          "memory": {{ if and .Values.capabilities.nodeSbomGeneration (eq .Values.nodeAgent.autoscaler.minResources.memory "180Mi") }}"600Mi"{{ else }}"{{ .Values.nodeAgent.autoscaler.minResources.memory }}"{{ end }}
        },
        "maxResources": {
          "cpu": "{{ .Values.nodeAgent.autoscaler.maxResources.cpu }}",
          "memory": "{{ .Values.nodeAgent.autoscaler.maxResources.memory }}"
        },
        "reconcileInterval": "{{ .Values.nodeAgent.autoscaler.reconcileInterval }}",
        "templatePath": "/etc/templates/daemonset-template.yaml",
        "operatorDeploymentName": "{{ .Values.operator.name }}"
      }
        {{- if and .Values.imageScanning.privateRegistries.credentials (gt (len .Values.imageScanning.privateRegistries.credentials) 0) }}
        {{- $cred := index .Values.imageScanning.privateRegistries.credentials 0 }}
        {{- if $cred.skipTlsVerify }},
      "registryScanningSkipTlsVerify": {{ $cred.skipTlsVerify }}
        {{- end }}
        {{- if $cred.insecure }},
      "registryScanningInsecure": {{ $cred.insecure }}
        {{- end }}
        {{- end }}
    }
{{- end }}
