{{- $checksums := fromYaml (include "checksums" .) }}
{{- $components := fromYaml (include "components" .) }}
{{- if $components.operator.enabled }}
{{- $no_proxy_envar_list := (include "no_proxy_envar_list" .) -}}
{{- $svcName := (printf "kubescape-admission-webhook.%s.svc" .Values.ksNamespace) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.operator.name }}
  namespace: {{ .Values.ksNamespace }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.operator.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    rollingUpdate:
      maxSurge: 0%
      maxUnavailable: 100%
    type: RollingUpdate
  selector:
    matchLabels:
      {{- include "kubescape-operator.selectorLabels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.operator.name) | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 8 }}
        {{- with .Values.operator.podAnnotations }}{{- toYaml . | nindent 8 }}{{- end }}
        checksum/operator-config: {{ $checksums.operatorConfig }}
        checksum/cloud-secret: {{ $checksums.cloudSecret }}
        checksum/cloud-config: {{ $checksums.cloudConfig }}
        checksum/capabilities-config: {{ $checksums.capabilitiesConfig }}
        checksum/matching-rules-config: {{ $checksums.matchingRulesConfig }}
      {{- if ne .Values.global.proxySecretFile "" }}
        checksum/proxy-config: {{ $checksums.proxySecret }}
      {{- end }}
      labels:
        {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.operator.name "tier" .Values.global.namespaceTier) | nindent 8 }}
        {{- with .Values.operator.podLabels }}{{- toYaml . | nindent 8 }}{{- end }}
        kubescape.io/tier: "core"
      {{- if $components.otelCollector.enabled }}
        otel: enabled
      {{- end }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- if kindIs "string" .Values.imagePullSecrets }}
      - name: {{ .Values.imagePullSecrets }}
      {{- else }}
      {{- range .Values.imagePullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      {{- end }}
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 65532
        fsGroup: 65532
      containers:
        - name: {{ .Values.operator.name }}
          image: "{{ .Values.operator.image.repository }}:{{ .Values.operator.image.tag }}"
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          ports:
            - name: "trigger-port"
              containerPort: 4002
              protocol: TCP
            - name: "readiness-port"
              containerPort: 8000
              protocol: TCP
            {{- if eq .Values.capabilities.admissionController "enable" }}
            - name: "admission-port"
              containerPort: 8443
              protocol: TCP
            {{- end }}
          livenessProbe:
            httpGet:
              path: /v1/liveness
              port: readiness-port
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /v1/readiness
              port: readiness-port
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
{{ toYaml .Values.operator.resources | indent 12 }}
          env:
            - name: HELM_RELEASE
              value: kubescape-operator-{{ .Chart.Version | replace "+" "_" }}
            - name: GOMEMLIMIT
              valueFrom:
                resourceFieldRef:
                  resource: limits.memory
                  divisor: '1'
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu
                  divisor: '1'
            - name: KS_LOGGER_LEVEL
              value: "{{ .Values.logger.level }}"
            - name: KS_LOGGER_NAME
              value: "{{ .Values.logger.name }}"
            {{- range .Values.operator.env }}
            - name: {{ .name }}
              value: "{{ .value }}"
            {{- end }}
            {{- if $components.otelCollector.enabled }}
            - name: OTEL_COLLECTOR_SVC
              value: "otel-collector:4318"
            {{- end }}
            {{- if .Values.configurations.otelUrl }}
            - name: OTEL_COLLECTOR_SVC
              value: {{ .Values.configurations.otelUrl }}
            {{- end }}
            {{- if ne .Values.global.httpsProxy "" }}
            - name: HTTPS_PROXY
              value: "{{ .Values.global.httpsProxy }}"
            - name : no_proxy
              value: "{{ $no_proxy_envar_list }}"
            {{- end }}
          volumeMounts:
            - name: {{ $components.cloudSecret.name }}
              mountPath: /etc/credentials
              readOnly: true
            - name: tmp-dir
              mountPath: /tmp
            - name: {{ .Values.global.cloudConfig }}
              mountPath: /etc/config/clusterData.json
              readOnly: true
              subPath: "clusterData.json"
            {{- if $components.serviceDiscovery.enabled }}
            - name: {{ .Values.global.cloudConfig }}
              mountPath: /etc/config/services.json
              readOnly: true
              subPath: "services.json"
            {{- end }}
            - name: ks-capabilities
              mountPath: /etc/config/capabilities.json
              readOnly: true
              subPath: "capabilities.json"
            - name: {{ .Values.continuousScanning.configMapName }}
              mountPath: /etc/config/matchingRules.json
              readOnly: true
              subPath: "matchingRules.json"
            - name: config
              mountPath: /etc/config/config.json
              readOnly: true
              subPath: "config.json"
            {{- if .Values.global.overrideDefaultCaCertificates.enabled }}
            - name: custom-ca-certificates
              mountPath: /etc/ssl/certs/ca-certificates.crt
              subPath: ca-certificates.crt
            {{- end }}
            {{- if .Values.global.extraCaCertificates.enabled }}
            {{- range $key, $value := (lookup "v1" "Secret" .Values.ksNamespace .Values.global.extraCaCertificates.secretName).data }}
            - name: extra-ca-certificates
              mountPath: /etc/ssl/certs/{{ $key }}
              subPath: {{ $key }}
            {{- end }}
            {{- end }}
            {{- if eq .Values.capabilities.admissionController "enable" }}
            - name: tls-certs
              mountPath: /etc/certs
              readOnly: true
            {{- end }}
{{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 12 }}
{{- end }}
{{- if .Values.operator.volumeMounts }}
{{ toYaml .Values.operator.volumeMounts | indent 12 }}
{{- end }}
{{- if ne .Values.global.proxySecretFile "" }}
            - name: proxy-secret
              mountPath: /etc/ssl/certs/proxy.crt
              subPath: proxy.crt
{{- end }}
      volumes:
        - name: {{ $components.cloudSecret.name }}
          secret:
            secretName: {{ $components.cloudSecret.name }}
        {{- if ne .Values.global.proxySecretFile "" }}
        - name: proxy-secret
          secret:
            secretName: {{ .Values.global.proxySecretName }}
        {{- end }}
        {{- if .Values.global.overrideDefaultCaCertificates.enabled }}
        - name: custom-ca-certificates
          secret:
            secretName: {{ $components.customCaCertificates.name }}
        {{- end }}
        {{- if .Values.global.extraCaCertificates.enabled }}
        - name: extra-ca-certificates
          secret:
            secretName: {{ .Values.global.extraCaCertificates.secretName }}
        {{- end }}
        {{- if eq .Values.capabilities.admissionController "enable" }}
        - name: tls-certs
          secret:
            secretName: {{ $svcName }}-kubescape-tls-pair
        {{- end }}
        - name: tmp-dir
          emptyDir: {}
        - name: {{ .Values.global.cloudConfig }}
          configMap:
            name: {{ .Values.global.cloudConfig }}
            items:
            - key: "clusterData"
              path: "clusterData.json"
            {{- if $components.serviceDiscovery.enabled }}
            - key: "services"
              path: "services.json"
            {{- end }}
        - name: ks-capabilities
          configMap:
            name: ks-capabilities
            items:
              - key: "capabilities"
                path: "capabilities.json"
        - name: config
          configMap:
            name: {{ .Values.operator.name }}
            items:
            - key: "config.json"
              path: "config.json"
        - name: {{ .Values.continuousScanning.configMapName }}
          configMap:
            name: {{ .Values.continuousScanning.configMapName }}
            items:
              - key: "matchingRules.json"
                path: "matchingRules.json"
{{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 8 }}
{{- end }}
{{- if .Values.operator.volumes }}
{{ toYaml .Values.operator.volumes | indent 8 }}
{{- end }}
      serviceAccountName: {{ .Values.operator.name }}
      automountServiceAccountToken: true
      nodeSelector:
      {{- if .Values.operator.nodeSelector }}
      {{- toYaml .Values.operator.nodeSelector | nindent 8 }}
      {{- else if .Values.customScheduling.nodeSelector }}
      {{- toYaml .Values.customScheduling.nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
      {{- if .Values.operator.affinity }}
      {{- toYaml .Values.operator.affinity | nindent 8 }}
      {{- else if .Values.customScheduling.affinity }}
      {{- toYaml .Values.customScheduling.affinity | nindent 8 }}
      {{- end }}
      tolerations:
      {{- if .Values.operator.tolerations }}
      {{- toYaml .Values.operator.tolerations | nindent 8 }}
      {{- else if .Values.customScheduling.tolerations }}
      {{- toYaml .Values.customScheduling.tolerations | nindent 8 }}
      {{- end }}
{{- end }}
