{{- $components := fromYaml (include "components" .) }}
{{- if $components.kubevuln.enabled }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.kubevuln.name }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.kubevuln.name "tier" .Values.global.namespaceTier) | nindent 4 }}
rules:
  - apiGroups: ["spdx.softwarecomposition.kubescape.io"]
    resources: ["vulnerabilitymanifests", "vulnerabilitymanifestsummaries", "openvulnerabilityexchangecontainers", "sbomsyfts", "sbomsyftfiltereds"]
    verbs: ["create", "get", "update", "watch", "list", "patch"]
  - apiGroups: ["spdx.softwarecomposition.kubescape.io"]
    resources: ["applicationprofiles"]
    verbs: ["get", "watch", "list"]
{{- end }}
