{{- $checksums := fromYaml (include "checksums" .) }}
{{- $components := fromYaml (include "components" .) }}
{{- if $components.kubevuln.enabled }}
{{- $no_proxy_envar_list := (include "no_proxy_envar_list" .) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.kubevuln.name }}
  namespace: {{ .Values.ksNamespace }}
  annotations:
    {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 4 }}
  labels:
    {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.kubevuln.name "tier" .Values.global.namespaceTier) | nindent 4 }}
    kubescape.io/tier: "core"
spec:
  replicas: {{ .Values.kubevuln.replicaCount }}
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "kubescape-operator.selectorLabels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.kubevuln.name) | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "kubescape-operator.annotations" (dict "Values" .Values) | nindent 8 }}
        {{- with .Values.kubevuln.podAnnotations }}{{- toYaml . | nindent 8 }}{{- end }}
        checksum/cloud-secret: {{ $checksums.cloudSecret }}
        checksum/cloud-config: {{ $checksums.cloudConfig }}
      {{- if ne .Values.global.proxySecretFile "" }}
        checksum/proxy-config: {{ $checksums.proxySecret }}
      {{- end }}
      labels:
        {{- include "kubescape-operator.labels" (dict "Chart" .Chart "Release" .Release "Values" .Values "app" .Values.kubevuln.name "tier" .Values.global.namespaceTier) | nindent 8 }}
        {{- with .Values.kubevuln.podLabels }}{{- toYaml . | nindent 8 }}{{- end }}
        kubescape.io/tier: "core"
      {{- if $components.otelCollector.enabled }}
        otel: enabled
      {{- end }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- if kindIs "string" .Values.imagePullSecrets }}
      - name: {{ .Values.imagePullSecrets }}
      {{- else }}
      {{- range .Values.imagePullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      {{- end }}
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 65532
        fsGroup: 65532
      containers:
        - name: {{ .Values.kubevuln.name }}
          image: "{{ .Values.kubevuln.image.repository }}:{{ .Values.kubevuln.image.tag }}"
          imagePullPolicy: {{ .Values.kubevuln.image.pullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          ports:
          - containerPort: {{ .Values.kubevuln.service.port }}
            protocol: TCP
          livenessProbe:
            httpGet:
              path: /v1/liveness
              port: {{ .Values.kubevuln.service.port }}
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /v1/readiness
              port: {{ .Values.kubevuln.service.port }}
          resources:
{{ toYaml .Values.kubevuln.resources | indent 12 }}
          env:
            - name: GOMEMLIMIT
              valueFrom:
                resourceFieldRef:
                  resource: limits.memory
                  divisor: '1'
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu
                  divisor: '1'
            - name: KS_LOGGER_LEVEL
              value: "{{ .Values.logger.level }}"
            - name: KS_LOGGER_NAME
              value: "{{ .Values.logger.name }}"
            - name: PRINT_POST_JSON
              value: "{{ .Values.kubevuln.verbose }}"
            {{- range .Values.kubevuln.env }}
            - name: {{ .name }}
              value: "{{ .value }}"
            {{- end }}
            {{- if $components.otelCollector.enabled }}
            - name: ACCOUNT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ $components.cloudSecret.name }}
                  key: account
            - name: OTEL_COLLECTOR_SVC
              value: "otel-collector:4318"
            {{- end }}
            {{- if .Values.configurations.otelUrl }}
            - name: OTEL_COLLECTOR_SVC
              value: {{ .Values.configurations.otelUrl }}
            {{- end }}
            {{- if ne .Values.global.httpsProxy "" }}
            - name: HTTPS_PROXY
              value: "{{ .Values.global.httpsProxy }}"
            - name : no_proxy
              value: "{{ $no_proxy_envar_list }}"
            {{- end }}
          args:
            - -alsologtostderr
            - -v=4
            - 2>&1
          volumeMounts:
            - name: {{ $components.cloudSecret.name }}
              mountPath: /etc/credentials
              readOnly: true
            - name: tmp-dir
              mountPath: /tmp
            - name: grype-db-cache
              mountPath: /home/nonroot/anchore-resources/db
            - name: {{ .Values.global.cloudConfig }}
              mountPath: /etc/config
              readOnly: true
            - name: grype-db
              mountPath: /home/nonroot/.cache/grype
{{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 12 }}
{{- end }}
{{- if .Values.kubevuln.volumeMounts }}
{{ toYaml .Values.kubevuln.volumeMounts | indent 12 }}
{{- end }}
{{- if ne .Values.global.proxySecretFile "" }}
            - name: proxy-secret
              mountPath: /etc/ssl/certs/proxy.crt
              subPath: proxy.crt
{{- end }}
{{- if .Values.global.overrideDefaultCaCertificates.enabled }}
            - name: custom-ca-certificates
              mountPath: /etc/ssl/certs/ca-certificates.crt
              subPath: ca-certificates.crt
{{- end }}
{{- if .Values.global.extraCaCertificates.enabled }}
        {{- range $key, $value := (lookup "v1" "Secret" .Values.ksNamespace .Values.global.extraCaCertificates.secretName).data }}
            - name: extra-ca-certificates
              mountPath: /etc/ssl/certs/{{ $key }}
              subPath: {{ $key }}
        {{- end }}
{{- end }}
      volumes:
        - name: {{ $components.cloudSecret.name }}
          secret:
            secretName: {{ $components.cloudSecret.name }}
      {{- if ne .Values.global.proxySecretFile "" }}
        - name: proxy-secret
          secret:
            secretName: {{ .Values.global.proxySecretName }}
      {{- end }}
      {{- if .Values.global.overrideDefaultCaCertificates.enabled }}
        - name: custom-ca-certificates
          secret:
            secretName: {{ $components.customCaCertificates.name }}
      {{- end }}
      {{- if .Values.global.extraCaCertificates.enabled }}
        - name: extra-ca-certificates
          secret:
            secretName: {{ .Values.global.extraCaCertificates.secretName }}
      {{- end }}
        - name: tmp-dir
          emptyDir: {}
        - name: grype-db-cache
          emptyDir: {}
        - name: {{ .Values.global.cloudConfig }}
          configMap:
            name: {{ .Values.global.cloudConfig }}
            items:
            - key: "clusterData"
              path: "clusterData.json"
            {{- if $components.serviceDiscovery.enabled }}
            - key: "services"
              path: "services.json"
            {{- end }}
        - name: "grype-db"
          emptyDir: {}
{{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 8 }}
{{- end }}
{{- if .Values.kubevuln.volumes }}
{{ toYaml .Values.kubevuln.volumes | indent 8 }}
{{- end }}
      serviceAccountName: {{ .Values.kubevuln.name }}
      automountServiceAccountToken: true
      nodeSelector:
      {{- if .Values.kubevuln.nodeSelector }}
      {{- toYaml .Values.kubevuln.nodeSelector | nindent 8 }}
      {{- else if .Values.customScheduling.nodeSelector }}
      {{- toYaml .Values.customScheduling.nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
      {{- if .Values.kubevuln.affinity }}
      {{- toYaml .Values.kubevuln.affinity | nindent 8 }}
      {{- else if .Values.customScheduling.affinity }}
      {{- toYaml .Values.customScheduling.affinity | nindent 8 }}
      {{- end }}
      tolerations:
      {{- if .Values.kubevuln.tolerations }}
      {{- toYaml .Values.kubevuln.tolerations | nindent 8 }}
      {{- else if .Values.customScheduling.tolerations }}
      {{- toYaml .Values.customScheduling.tolerations | nindent 8 }}
      {{- end }}
{{- end }}
