{{- if .Values.kubevuln.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.kubevuln.name }}
  namespace: {{ .Values.ksNamespace }}
  labels:
    app: {{ .Values.kubevuln.name }}
spec:
  type: {{ .Values.kubevuln.service.type }}
  ports:
    - port: {{ .Values.kubevuln.service.port }}
      targetPort: {{ .Values.kubevuln.service.targetPort }}
      protocol: {{ .Values.kubevuln.service.protocol }}
  selector:
    app: {{ .Values.kubevuln.name }}
{{- end }}
