name: 03-Helm chart release

on:
  workflow_dispatch:
    inputs:
      CHARTS_NAME:
        type: choice
        description: What chart do you want to release?
        options:
          - kubescape-operator
      HELM_E2E_TEST:
        required: false
        default: true
        type: boolean
      TESTS_BRANCH:
        description: "system tests branch name"
        required: false
        default: "master"
        type: string
      RELEASE_BRANCH:
        description: "branch to release from"
        required: false
        default: "main"
        type: string

  workflow_call:
    inputs:
      COMMIT_REF:
        required: true
        type: string
      CHARTS_NAME:
        required: true
        type: string
      HELM_E2E_TEST:
        required: false
        default: true
        type: boolean
      TESTS_BRANCH:
        description: "system tests branch name"
        required: false
        default: "master"
        type: string

jobs:
  e2e-test:
    if: ${{ inputs.HELM_E2E_TEST }}
    with:
      BRANCH: ${{ inputs.RELEASE_BRANCH || 'main' }}
      TESTS_BRANCH: ${{ inputs.TESTS_BRANCH }}
      KS_BRANCH: "master"
    uses: ./.github/workflows/02-e2e-test.yaml
    secrets: inherit

  helm-chart-release:
    needs: e2e-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.RELEASE_BRANCH || inputs.COMMIT_REF }}
          fetch-depth: 0

      - name: git status
        run: git status

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # - name: git checkout to new commit
      #   run: git checkout ${{ inputs.COMMIT_REF }}
      - name: Install Helm
        uses: azure/setup-helm@v3.5
        # with:
        #   version: v3.4.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.1
        env:
          charts_dir: "charts/kubescape-operator"
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Mark as pre-release
        if: inputs.RELEASE_BRANCH && inputs.RELEASE_BRANCH != 'main'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          version=$(grep '^version:' charts/${{ inputs.CHARTS_NAME }}/Chart.yaml | awk '{print $2}')
          gh release edit ${{ inputs.CHARTS_NAME }}-$version --prerelease
