{{- if .Values.otelCollector.enabled  }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: {{ .Values.ksNamespace }}
  labels:
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/instance: {{ .Release.Name }}
    app: otel-collector
    tier: {{ .Values.global.namespaceTier }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  replicas: {{ .Values.otelCollector.replicaCount }}
  revisionHistoryLimit: 2
  strategy:
    rollingUpdate:
      maxSurge: 0%
      maxUnavailable: 100%
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: otel-collector
      app.kubernetes.io/instance: {{ .Release.Name }}
      tier: {{ .Values.global.namespaceTier}}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: otel-collector
        app.kubernetes.io/instance: {{ .Release.Name }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        tier: {{ .Values.global.namespaceTier}}
        app: otel-collector
      {{- if .Values.global.addRevisionLabel }}
        helm.sh/revision: "{{ .Release.Revision }}"
      {{- end }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ toYaml .Values.imagePullSecrets }}
      {{- end }}
      containers:
      - name: otel-collector
        image: "{{ .Values.otelCollector.image.repository }}:{{ .Values.otelCollector.image.tag }}"
        imagePullPolicy: "{{ .Values.otelCollector.image.pullPolicy }}"
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 100
        ports:
          - name: otlp
            containerPort: 4317
            protocol: TCP
        env:
        - name: GOGC
          value: "80"
        command:
        - "/otelcol"
        - "--config=/conf/otel-collector-config.yaml"
        resources:
{{ toYaml .Values.otelCollector.resources | indent 14 }}            
        volumeMounts:
        - name: otel-collector-config-volume
          mountPath: /conf
{{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 8 }}
{{- end }}
{{- if .Values.otelCollector.volumeMounts }}
{{ toYaml .Values.otelCollector.volumeMounts | indent 8 }}
{{- end }}
      serviceAccountName: {{ .Values.global.kubescapeServiceAccountName }}
      automountServiceAccountToken: true
      volumes:
      - name: otel-collector-config-volume
        configMap:
          name: otel-collector-config
{{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 6 }}
{{- end }}
{{- if .Values.otelCollector.volumes }}
{{ toYaml .Values.otelCollector.volumes | indent 6 }}
{{- end }}
      {{- with .Values.otelCollector.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8}}
      {{- end }}
      {{- with .Values.otelCollector.affinity }}
      affinity:
        {{- toYaml . | nindent 8}}
      {{- end }}
{{- end }}
